*{
    margin:0;
    padding:0;
   }
   
   
   html,body{
     height:100%;
     background-color: rgb(240, 234, 227);
   }
   
   
   form{
       width: 96%;
       max-width: 600px;
       margin:30px auto; 
       text-align: center;
       background-color: bisque;
   }
   
   form fieldset{
       padding: 20px 40px;
       border:1px solid #ccc;
   }
   
   form legend{
       text-align: center;
       font-size: 20px;
       color:rgb(130,130,130);
      font-weight: bold;
   }
   
   
   form input[type=text]{
       font-family: tahoma;
       display: inline-block;
       margin-top:30px;
       width: 80%;
       padding: 10px 13px;
       border:1px solid #ccc;
       overflow: 0;
   }
   
   form input[type=text]:focus, form select:focus, form textarea:focus{
	outline: 0;
}

   form select{
    font-family: tahoma;
    padding: 5px 13px;
    margin-top: 30px;
    width:calc(80% + 26px);
    color: rgb(130,130,130);
    border: 1px solid #ccc;
    display: inline-block;
    width: 80%;
   }

   
   
   h2{
    margin-top: 30px;
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
    text-decoration: underline;
    padding: 20px;
    color: rgb(130,130,130);
    text-align: center;
   }

   h3 {
    font-size: 17px;
    margin-top: 20px;
    color: rgb(130,130,130);
 }
   
 
    .radio{
        margin-top: 10px;
        text-align: left;
        font-weight: bold;
        padding: 0 9%;
        color:rgb(130,130,130);
        

    }

    .file [type="file"]{
        display: none;
    }

        label{
            display:block;
            margin:20px auto;
            cursor: pointer;
            font-size: 17px;
            width: 220px;
            height: 40px;
            background-color:bisque;
            color: rgb(0, 0, 0);
            text-align: center;
            line-height: 40px;
            border: 1px solid black;
            border-radius: 10px;
            font-weight: bold;
            
        }
  
   
       form textarea{
        font-family: tahoma;
        border: 1px solid #ccc;
        margin-top: 30px;
        width: 80%;
        height: 140px;
        padding: 10px 13px;
        resize: none;
       }
   
       
      form input[type=submit]{
        margin-top:30px;
        border:0;
        width: 140px;
        height: 40px;
        font-size: 16px;
        cursor: pointer;
        border:2px solid bisque;
        color:white;
        background-color: rgb(216, 186, 149);
        font-weight: bold;
        font-style: italic;
      }
   
   
   
   
   
   
   
   
   /*form input[type=text]:focus, form select:focus, form textarea:focus{
       outline: 0;
   }
   
   
   form select{
       font-family: tahoma;
       color:rgb(100,100,100);
       width:calc(80% + 26px);
       margin-top:30px;
       padding: 10px 13px;
       display: inline-block;
       border:1px solid #ccc;
   }
   
   
   
   form h2{
       margin-top:20px;
       color: rgb(100,100,100);
   }
   
   .input{
       display: inline-block;
       text-align: left;
       margin-top:20px;
   }
   
   .input span{
       margin-left: 13px;
       font-size: 16px;
       color: rgb(130,130,130);
   }
   
   form textarea{
       font-family: tahoma;
       border: 1px solid #ccc;
       margin-top:30px;
       width: 80%;
       height: 140px;
       padding: 10px 13px;
       resize: none;
   }
   
   form input[type=submit]{
       margin-top:30px;
       border:0;
       width: 140px;
       height: 40px;
       font-size: 16px;
       cursor: pointer;
       border:2px solid rgb(255, 255, 255);
       color:white;
       background-color: rgb(231, 152, 219) */
   